@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--background-color);
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
}
        :root {
            --color-white: #FFFFFF;
            --font-text: #000000;
            --background-color: #F1ECE6;
            --background-beige: #E3D1C1;
            --ballon-beige: #AA7850;
            --border-color: #745237;
            --footer-background: gray;
        }
            #fontTitle{
                font-family: "Crimson Text", serif;
            }

/* ------ HEADER ------ */
    header{
        display: grid;
        grid-template-columns: 15% 85%;
        height: 75px;
        padding: 0 125px 0 100px;
    }
        .logo{
            display: block;
            margin: auto;
        }
        header nav{
            display: flex;
            justify-content: end;
            align-items: center;
        }
            header li{
                list-style-type: none;
            }
                header a{
                    color: var(--font-text);
                    font-size: 18px;
                    text-decoration: none;
                    padding: 0 0 0 20px;
                }
                    header a:hover{
                        color: var(--footer-background);
                    }
        #menu-icon{
            display: none;
        }

/* ------ SOBRE ------ */
    #sobre{
        padding: 0 125px 0 125px;
    }
        .about{
            font-size: 60px;
            font-weight: 600;
            color: var(--ballon-beige);
            display: flex;
            justify-content: center;
            margin: 5px 0 20px 0;
        }
            .about-container{
                display: flex;
                align-items: center;
                padding-bottom: 30px;
            }
                    .about-container img{
                        border-radius: 125px 125px 0 0;
                        padding: 0 10px 0 0;
                    }
                    .about-text{
                        font-size: 20px;
                        text-align: justify;
                        padding: 0 0 0 10px;
                    }
                            .text-span{
                                padding-top: 15px;
                            }

/* ------ PAINEL de FOTOS ------ */
    #portifolio{
        margin: 0 75px 0 75px;
    }
        .carousel-container{
            position: relative;
            overflow: hidden;
        }
            .carousel{
                display: flex;
                transition: 0.5s ease-in-out;
            }
                .carousel img{
                    width: 280px;
                    padding: 0 10px 0 0;
                    border-radius: 25px;
                }
            #portifolio button{
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                background-color: rgba(0, 0, 0, 0.5);
                border: none;
                cursor: pointer;
            }
                #portifolio button.prev{
                    left: 15px;
                    border-radius: 25px;
                }
                #portifolio button.next{
                    right: 15px;
                    border-radius: 25px;
                }
                    #portifolio button img{
                        border-radius: 25px;
                    }

/* ------ SOBRE 2.0 ------ */
    #about-second{
        padding: 0 125px 0 125px;
    }
        .about-second-text{
                font-size: 20px;
                text-align: justify;
                padding: 30px 0 0 0;
            }

/* ------ PORQUE? ------ */
    #what{
        padding: 0 125px 0 125px;
    }
        .what{
            font-size: 60px;
            color: var(--ballon-beige);
            display: flex;
            justify-content: center;
            margin: 15px 0 15px 0;
        }
        .what-sections{
            display: flex;
            align-items: center;
            padding: 5px 0 5px;
        }
            .what-title{
                font-size: 40px;
                font-weight: 600;
                color: var(--ballon-beige);
                padding: 30px 0 0 15px;
                margin: 10px 0 0 0;
            }
                    .ballon-one{
                        background-color: var(--background-beige);
                        border-radius: 0 10px 0 0;
                    }
                    .ballon-two{
                        background-color: var(--background-beige);
                        border-radius: 0 0 10px 0;
                    }
                    .ballon-three{
                        background-color: var(--background-beige);
                        border-radius: 10px 0 0 0;
                    }
                    .ballon-four{
                        background-color: var(--background-beige);
                        border-radius: 0 0 0 10px;
                    }
            .what-text{
                font-size: 30px;
                text-align: justify;
                padding: 10px 15px 30px 15px;
                margin: 0 0 10px 0;
            }
            .what-sections img{
                border-radius: 10px;
            }

/* ------ INVESTIMENTO ------ */
    #investimento{
        padding: 0 75px 0 75px;
    }
        .invest{
            font-size: 60px;
            color: var(--ballon-beige);
            display: flex;
            justify-content: center;
            margin: 15px 0 15px 0;
        }
        .packImages{
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin: 15px 0 15px 0;
        }
            .packImages img{
                width: 240px;
            }

        .packs{
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin: 15px 0 15px 0;
        }
            .packs div{
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 15px 0 15px 0;
            }
                .packs div h3{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 18px;
                    font-weight: 400;
                    color: var(--background-color);
                    background-color: var(--ballon-beige);
                    width: 125px;
                    height: 35px;
                    border-radius: 10px;
                    margin: 10px;
                }
                .packs div p{
                    font-size: 18px;
                    padding: 5px 0 5px 0;
                }
                .packs div a button{
                    font-size: 18px;
                    margin: 10px 0 10px 0;
                    width: 110px;
                    height: 36px;
                    border-radius: 25px;
                    cursor: pointer;
                    border: 2px solid #745237;
                }

        .schedule{
            font-size: 40px;
            color: var(--ballon-beige);
            display: flex;
            justify-content: center;
            margin: 15px 0 15px 0;
        }
            .schedule-text{
                font-size: 20px;
                margin: 0 60px 0 60px;
                padding: 8px 0 8px 0;
                text-align: justify;
            }

        .receipt{
            font-size: 30px;
            color: var(--ballon-beige);
            display: flex;
            justify-content: center;
            margin: 15px 0 15px 0;
        }
            .receipt-text{
                font-size: 20px;
                margin: 0 60px 0 60px;
                padding: 8px 0 8px 0;
                text-align: justify;
            }

    #contato{
        padding: 0 125px 0 125px;
    }
        .payment{
            font-size: 40px;
            color: var(--ballon-beige);
            display: flex;
            justify-content: center;
            margin: 15px 0 15px 0;
        }
            .payment-text{
                font-size: 20px;
                padding: 8px 0 8px 0;
                text-align: justify;
            }
            .container-button{
                display: flex;
                justify-content: center;
                padding: 5px 0 20px 0;
                text-decoration: none;
            }
                .payment-button{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 18px;
                    font-weight: 300;
                    color: var(--background-color);
                    background-color: var(--ballon-beige);
                    width: 270px;
                    height: 32px;
                    border-radius: 10px;
                    border: none;
                    margin: 10px;
                    cursor: pointer;
                }

/* ------ FOOTER ------ */
    #footer{
        background-color: var(--footer-background);
        display: flex;
        align-items: center;
        justify-content: center;
        height: 28px;
    }
        #footer p{
            color: var(--color-white);
            background-color: var(--footer-background);
        }
            #footer p a{
                color: var(--color-white);
                background-color: var(--footer-background);
                text-decoration: none;
            }
        #footer span{
            color: var(--color-white);
            background-color: var(--footer-background);
            padding: 0 10px 0 10px;
        }
        #footer a{
            background-color: var(--footer-background);
        }
            #footer img{
                background-color: var(--footer-background);
                margin: 0 0 0 10px;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
            }

    /* SMARTPHONE */
@media screen and (max-width: 767px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
        /* ------ HEADER ------ */
    #home{
        display: grid;
        grid-template-columns: 50% 50%;
        height: 60px;
        padding: 0;
    }
        .logo{
            width: 110px;
            margin: 0 0 0 10px;
        }
        .menu{
            display: none;
        }
        #menu-icon{
            display: flex;
            align-items: center;
            justify-content: end;
        }
            #menu-icon img{
                width: 28px;
                margin: 0 25px 0 0;
            }
        /* ------ SOBRE ------ */
    #sobre{
        padding: 0;
    }
        .about{
            font-size: 40px;
            margin: 5px 0 10px 0;
        }
        .about-container{
            display: block;
        }
            .about-container img{
                display: flex;
                margin: auto;
                border-radius: 40px 40px 0 0;
                width: 240px;
            }
            .about-text{
                font-size: 14px;
                margin: 10px 0 0 0;
                padding: 0 20px 0 20px;
            }
        /* ------ PAINEL DE FOTOS ------ */
    #portifolio{
        margin: 0 15px 0 15px;
    }
    #about-second{
        padding: 0;
    }
        .about-second-text{
            font-size: 14px;
            padding: 0 20px 0 20px;
            margin: 10px 0 0 0;
        }
        /* ------ PORQUÊ ------ */
    #what{
        padding: 0 15px 0 15px;
    }
        .what{
            display: flex;
            font-size: 36px;
            text-align: center;
        }
    .what-sections{
        display: block;
        text-align: center;
    }
        .what-sections img{
            width: 280px;
        }
        .what-title{
            font-size: 24px;
            border-radius: 25px 25px 0 0;
            list-style: none;
            padding: 10px 0 0 0;
            margin-top: 0;
            justify-content: center;
        }
        .what-text{
            font-size: 16px;
            border-radius: 0 0 25px 25px;
        }
        /* ------ INVESTIMENTO ------ */
    #investimento{
        padding: 0 15px 0 15px;
    }
        #fontTitle{
            display: flex;
            font-size: 30px;
            text-align: center;
        }
            .packImages{
                display: none;
            }
        .packs{
            display: block;
            transition: 0.5s ease-in-out;
        }
            .packs div{
                margin: 15px 30px 15px 30px;
                border: 2px solid #745237;
                border-radius: 25px;
            }
        /* ------ AGENDAMENTO ------ */
    .schedule-text{
        font-size: 14px;
        margin: 0;
        padding-top: 0;
    }
    .receipt-text{
        font-size: 14px;
        margin: 0;
        padding-top: 0;
    }
    #contato{
        padding: 0 15px 0 15px;
    }
        .payment-text{
            font-size: 14px;
            margin: 0;
            padding-top: 0;
        }
        /* ------ FOOTER ------ */
    #footer{
        display: none;
    }
}
    /* TABLET */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .menu{
        display: none;
    }
    #footer{
        display: none;
    }
}